body{
    margin:5px;
    padding:5px;
    line-height:1.15;
 }
  
 h1,h2, h3{
    font-weight: bold;
    margin-top:15px;
  
 }
 nav ul li{
    margin-left: 25px;
    list-style-type: upper-roman;
    border-style: dotted;
    border-radius: 20px;
    border-width: 3px;
    background-color:aqua;
    padding: 10px;
    display: inline-block;


 }
 img{
width:24%;
padding: 15px;
border-style:groove;
border-width: 10px;
border-radius: 20px;

 }
 